@model Burger_Station.Models.Branch

@{
    ViewData["Title"] = "Edit";
}

<!--Bootsrap 4 CDN-->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

<!--Fontawesome CDN-->
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">

<!--Custom styles-->
<link rel="stylesheet" type="text/css" href="~/css/menu/edit.css">
<h1>Edit</h1>

<h4>Branch</h4>
<hr />
<div class="container">
        <div class="d-flex justify-content-center h-100">
            <div class="card">
                <div class="card-body">
                        <form  class="Item" asp-action="Edit">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <input type="hidden" asp-for="Id" />
                            <div class="input-group form-group">
                                <label asp-for="Address" class="control-label"></label>
                                <input asp-for="Address" class="form-control" />
                                <span asp-validation-for="Address" class="text-danger"></span>
                            </div>
                            <div class="input-group form-group">
                                <label asp-for="City" class="control-label"></label>
                                <select class="form-control" asp-for="City" asp-items="@Html.GetEnumSelectList<City>()"></select>
                            </div>
                            <div class="input-group form-group">
                                <label asp-for="District" class="control-label"></label>
                                <select class="form-control" asp-for="District" asp-items="@Html.GetEnumSelectList<District>()"></select>
                            </div>
                            <div class="input-group form-group">
                                <label for="ItemId" class="control-label"></label>
                                <select name="ItemId" class="form-control" asp-items="ViewBag.ItemsId" multiple></select>
                            </div>
                            <div class="btn-c">
                                <input type="submit" value="Save" class="btn btn-primary" />
                            </div>
                        </form>
                    </div>
                </div>
            </div>
    </div>

        <div>
            <a asp-action="Index">Back to List</a>
        </div>

        @section Scripts {
            @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
        }

        @section Styles {
            <link rel="stylesheet" href="~/css/branch.css" />
        }
