@model IEnumerable<Burger_Station.Models.Branch>

@{
    ViewData["Title"] = "Index";
}
<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>

    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

</head>
<body>

    <!-- ======= Top Bar ======= -->
    <section id="topbar" class="d-none d-lg-flex align-items-center fixed-top topbar-transparent">
        <div class="container text-right">
            <i class="icofont-phone"></i> +1 5589 55488 55
            <i class="icofont-clock-time icofont-rotate-180"></i> Sun-Sat: 10:00 AM - 00:00 PM
        </div>
    </section>

    <!-- ======= Header ======= -->
    <header id="header" class="fixed-top d-flex align-items-center header-transparent">
        <div class="container d-flex align-items-center">

            <div class="logo mr-auto">
                <h1 class="text-light"><a href="\Home"><span>Burger Station</span></a></h1>
            </div>

            <nav class="nav-menu d-none d-lg-block">
                <ul>
                    @if (ViewBag.userType == "Admin")
                    {
                        <li class="book-a-table text-center"><a asp-action="Create">Add New Branch</a></li>
                    }
                    <li class="book-a-table text-center"><a href="\Home">Back</a></li>

                </ul>
            </nav>
    <!-- .nav-menu -->

        </div>
    </header>
    <!-- End Header -->

    <section></section>


    <main id="main">
        <section id="branches" class="menu">
            <div class="container">

                <div class="section-title">
                    <h2>Find your nearest <span>Restaurant</span></h2>
                </div>

                <center>
                    <h4> Check the <span>Weather</span> in your City </h4>
                    <input type="text" id="city" placeholder="City name" />
                    <input class="clicked-btn" type="button" id="getWeather" value="Search" />
                    <br />
                    <div id="result-div"></div>
                </center>

                <br/>
                <br/>

                <script type="text/javascript">
                    if (typeof jQuery !== 'undefined') {
                        $(document).ready(function () {
                            $('#getWeather').click(function () {
                                var requestData = $('#city').val();
                                var result = $('#result-div');
                                $.ajax({
                                    url: 'https://api.openweathermap.org/data/2.5/weather',
                                    method: 'get',
                                    data: { q: requestData, appid: 'b8dfe71c14a54f4a98e710d2674bdc85' },
                                    dataType: 'json',
                                    success: function (data) {
                                        result.html('The weather is ' + data.weather[0].main + '<br/>' + 'Description: ' + data.weather[0].description);
                                    }
                                });
                            });
                        });
                    }
                    else {
                        console.log('problem with loading jquery');
                    }
                </script>


                <div class="row">
                    <div class="col-lg-12 d-flex justify-content-center">
                        <ul id="menu-flters">
                            <li data-filter="*" class="filter-active">Show All</li>
                            <li data-filter=".filter-south">South</li>
                            <li data-filter=".filter-center">Center</li>
                            <li data-filter=".filter-north">North</li>
                        </ul>
                    </div>
                </div>

                @foreach (var group in Model.GroupBy(item => item.District))
                {
                    @foreach (var item in group)
                    {
                        <div class="row menu-container">

                            <div class="col-lg-12 menu-item filter-@item.District.ToString().ToLower()">
                                <div class="menu-content">
                                    <a asp-action="Details" asp-route-id="@item.Id">@Html.DisplayFor(modelItem => item.Address) </a><span>@Html.DisplayFor(modelItem => item.City)</span>
                                </div>
                                <div class="menu-ingredients">
                                    10:00 - 00:00 , Sunday - Saturday
                                </div>
                            </div>
                        </div>
                     

                    }
                }


            </div>

        </section>
    </main>

   

</body>
</html>
@section Styles {
    <link rel="stylesheet" href="~/assets/css/style.css" />
}
