.plate-image {
    border-radius: 8px; 
    width:350px; 
    height:350px; 
    text-align:center;
}

.container-head{
    text-align:center;
    align-content:center;
    align-content:center;
    text-align:center;
    align-self:center;
}