
#title {
    background-image: url("~/images/backgrounds/background-menu.jpg");
    background-color: #cccccc;
    background-size: cover;
    background-repeat: no-repeat;
    background-position:center;
}

h1 {
    color: #FFF;
    font-size: 8rem;
    /*16px=100%=1em*/
    margin: 50px auto 0 auto;
    font-family: 'Sacramento', cursive;
    text-align:center;
    font-weight:900;
}

h2 {
    font-family: cursive;
    font-size: 22px;
}
.searchbox{
    text-align:center;
    margin-bottom:30px;
}

#menu {
    background-color: #ececec;
}
.container-fluid {
    padding: 3% 15% 7%;
}

.img-fluid {
    float: none;
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
}

img{
    vertical-align:middle;
    border-style:none;
}

.ser-icon figure img {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}

.ser-icon figure:hover img {
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
}