.container2 {
    border: 12px solid #ccc;
    background-color: #eee;
    border-radius: 5px;
    padding: 16px;
    padding-bottom: 15px;
    margin-bottom: 30px;
    margin-left: 550px;
    margin-right: 550px;
    align-self: center;
    text-align-last: center;
    justify-content: center;
    background-color: rgba(0,0,0,0.5) !important;
    color: #fff;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

head {
    align-content:center;
    align-items: center;
    text-align: center;
    align-self: center;
    background-color:black;
}

h1{
    text-align:center;
    font-size: 50px;
}
    /* Clear floats after containers */
    .container2::after {
        content: "";
        clear: both;
        display: table;
    }

    /* Float images inside the container to the left. Add a right margin, and style the image as a circle */
    .container2 img {
        float: left;
        margin-right: 30px;
        margin-bottom: 20px;
        border-radius: 50%;
    }
   
    /* Increase the font-size of a span element */
    .container2 span {
        font-size: 35px;
        margin-right: 15px;
       
    }
    .container2 p{
        font-size: 25px;
    }
    
    section title{
       align-items: center;
    }
    

/* Add media queries for responsiveness. This will center both the text and the image inside the container */
@media (max-width: 500px) {
    .container2 {
        text-align: left;
    }

        .container2 img {
            margin: auto;
            margin-bottom : 20px;
            float: none;
            display: block;
        }
}
