@model Burger_Station.Models.Item

@{
    ViewData["Title"] = "Delete";
}
<html>
<head>
    <!--Custom styles-->
    <link rel="stylesheet" type="text/css" href="~/assets/css/Create_Delete.css">
</head>
<body>
    <!-- ======= Top Bar ======= -->
    <section id="topbar" class="d-none d-lg-flex align-items-center fixed-top topbar-transparent">
        <div class="container text-right">
        </div>
    </section>

    <!-- ======= Header ======= -->
    <header id="header" class="fixed-top d-flex align-items-center header-transparent">
        <div class="container d-flex align-items-center">

            <div class="logo mr-auto">
                <h1 class="text-light"><a href="\Home"><span>Burger Station</span></a></h1>
            </div>

           

        </div>
    </header><!-- End Header -->

    <section></section>
    <section></section>

    <div class="data-d">
        <div class="container">
            <div class="d-flex justify-content-center h-100">
                <div class="card">
                    <div class="card-header">
                        <h3 style="text-align: center">Are you sure you want to delete?</h3>
                    </div>
                    <div class="card-body">
                        <b><span>@Html.DisplayNameFor(model => model.Name):</span></b> @Html.DisplayFor(model => model.Name) <br>
                        <b><span>@Html.DisplayNameFor(model => model.Price):</span></b> @Html.DisplayFor(model => model.Price) <br>
                    </div>
                    <nav class="nav-menu d-none d-lg-block">
                        <form asp-action="Details">
                            <input type="hidden" asp-for="Id" />
                            <input class="btn float-right clicked-btn" type="submit" value="Cancel" />
                        </form>
                        <form asp-action="Delete">
                            <input type="hidden" asp-for="Id" />
                            <input class="btn float-left clicked-btn-red" type="submit" value="Delete" />
                        </form>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</body>
</html>