@model Burger_Station.Models.User

@{
    ViewData["Title"] = "Edit";
}

<html>
<head>

    <!--Custom styles-->
    <link rel="stylesheet" type="text/css" href="~/assets/css/style.css">
    <link rel="stylesheet" type="text/css" href="~/assets/css/Create_Delete.css">

</head>
<body>
    <!-- ======= Top Bar ======= -->
    <section id="topbar" class="d-none d-lg-flex align-items-center fixed-top topbar-transparent">
        <div class="container text-right">
        </div>
    </section>

    <!-- ======= Header ======= -->
    <header id="header" class="fixed-top d-flex align-items-center header-transparent">
        <div class="container d-flex align-items-center">

            <div class="logo mr-auto">
                <h1 class="text-light"><a href="\Home"><span>Burger Station</span></a></h1>
            </div>

            <nav class="nav-menu d-none d-lg-block">
                <ul>
                    <li class="book-a-table text-center"><a href="\Users\DetailsMember\@Model.Id">Back</a></li>
                </ul>
            </nav>
            <!-- .nav-menu -->
        </div>
    </header>
    <!-- End Header -->

    <section></section>
    <br />

    <div class="container">
        <div class="d-flex justify-content-center h-100">
            <div class="card">
                <div class="card-header">
                    <h3>Edit Item</h3>
                </div>
                <div class="card-body">
                    <form class="Item" asp-action="Edit">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <input type="hidden" asp-for="Id" />
                        @if (ViewBag.userType == "Admin")
                        {
                            <div class="input-group form-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fas fa-user"></i></span>
                                </div>
                                <select class="form-control" asp-for="Type" asp-items="@Html.GetEnumSelectList<UserType>()"></select>
                            </div>
                        }

                        <div class="input-group form-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-user"></i></span>
                            </div>
                            <input asp-for="FirstName" class="form-control" placeholder="First Name" autocomplete="off" />
                            <span asp-validation-for="FirstName" class="text-danger"></span>
                        </div>

                        <div class="input-group form-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-user"></i></span>
                            </div>
                            <input asp-for="LastName" class="form-control" placeholder="Last Name" autocomplete="off" />
                            <span asp-validation-for="LastName" class="text-danger"></span>
                        </div>

                        <div class="input-group form-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-user"></i></span>
                            </div>
                            <input asp-for="Email" class="form-control" placeholder="Email" autocomplete="off" />
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>

                        <div class="input-group form-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-user"></i></span>
                            </div>
                            <input asp-for="Password" class="form-control" placeholder="Password" autocomplete="off" />
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>

                        <div class="input-group form-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-user"></i></span>
                            </div>
                            <input asp-for="Birthday" class="form-control" placeholder="Birthday" autocomplete="off" />
                            <span asp-validation-for="Birthday" class="text-danger"></span>
                        </div>

                        <div class="input-group form-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-user"></i></span>
                            </div>
                            <select name="ItemId" class="form-control" asp-items="@ViewBag.Items"></select>
                        </div>

                        <div class="btn-c">
                            <input type="submit" value="Save" class="btn float-right clicked-btn" />
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>
</body>
</html>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
