<!DOCTYPE html>
<html>
<head>
    <title>Login Page</title>

    <!--Custom styles-->
    <link rel="stylesheet" type="text/css" href="~/assets/css/Login.css">
</head>
<body>

    <!-- ======= Top Bar ======= -->
    <section id="topbar" class="d-none d-lg-flex align-items-center fixed-top topbar-transparent">
        <div class="container text-right">
        </div>
    </section>

    <!-- ======= Header ======= -->
    <header id="header" class="fixed-top d-flex align-items-center header-transparent">
        <div class="container d-flex align-items-center">
            <div class="logo mr-auto">
                <h1 class="text-light"><a href="\Home"><span>Burger Station</span></a></h1>
            </div>
            <nav class="nav-menu d-none d-lg-block">
                <ul>
                    <li class="book-a-table text-center"><a href="\Home">Back</a></li>
                </ul>
            </nav>
            <!-- .nav-menu -->
        </div>
    </header>
    <!-- End Header -->

    <section></section>
    <section></section>

    <!-- ======= Login box ======= -->
    <div id="fb-root"></div>
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/he_IL/sdk.js#xfbml=1&version=v8.0&appId=2560600564202212&autoLogAppEvents=1" nonce="Szy4Ng6H"></script>
    <div class="container">
        <div class="d-flex justify-content-center h-100">
            <div class="card">
                <div class="card-header">
                    <h3>Login</h3>
                    <div class="d-flex justify-content-end social_icon">

                        <!-- Facebook login script -->
                        <script>
                            function statusChangeCallback(response) {       // Called with the results from FB.getLoginStatus().
                                console.log('statusChangeCallback');
                                console.log(response);                      // The current login status of the person.
                                if (response.status === 'connected') {      // Logged into your webpage and Facebook.
                                    testAPI();
                                } else {                                    // Not logged into your webpage or we are unable to tell.
                                    document.getElementById('status').innerHTML = 'Please log ' +
                                        'into this webpage.';
                                }
                            }

                            function checkLoginState() {                    // Called when a person is finished with the Login Button.
                                FB.getLoginStatus(function (response) {     // See the onlogin handler
                                    statusChangeCallback(response);
                                });
                                FB.login(function (response) {
                                    console.log(response);
                                }, { scope: 'email' });

                            }

                            FB.logout(function (response) {
                                // Person is now logged out
                            });

                            window.fbAsyncInit = function () {
                                FB.init({
                                    appId: '2560600564202212',
                                    cookie: true,
                                    xfbml: true,
                                    version: 'v8.0'
                                });
                                FB.AppEvents.logPageView();

                                FB.getLoginStatus(function (response) {         // Called after the JS SDK has been initialized.
                                    statusChangeCallback(response);             // Returns the login status.
                                });
                            };

                            function testAPI() {                                // Testing Graph API after login. See statusChangeCallback() for when this call is made.
                                console.log('Welcome!  Fetching your information.... ');

                                FB.api('/me', 'GET', { "fields": "email" }, function (response) {
                                    console.log('Successful login for: ' + response.name);
                                    document.getElementById('status').innerHTML =
                                        'Thanks for logging in, ' + response.email + '!';
                                });

                                FB.api(
                                        '/me',
                                        'GET',
                                        { "fields": "email" },
                                        function (response) {
                                            var fbEmail = response.email;

                                            $.ajax({
                                                type: "POST",
                                                url: '@Url.Action("FacebookLogin", "Users")',
                                                dataType: "html",
                                                data: { data: fbEmail },

                                                success: function (data) {
                                                    if (data == "Success") {
                                                        //alert('Your data updated');
                                                        window.location.href = "/Home";
                                                    } else {
                                                        alert("Please enter correct email!");
                                                    }
                                                },
                                                error: function (jqXHR, textStatus) {
                                                    alert(textStatus);
                                                }
                                            });
                                        }
                                    );
                            }

                            (function (d, s, id) {
                                var js, fjs = d.getElementsByTagName(s)[0];
                                if (d.getElementById(id)) { return; }
                                js = d.createElement(s); js.id = id;
                                js.src = "https://connect.facebook.net/en_US/sdk.js";
                                fjs.parentNode.insertBefore(js, fjs);
                            }(document, 'script', 'facebook-jssdk'));

                        </script>
                        <!-- End Facebook login script -->
                    </div>
                </div>

                <!-- Login without Facebook -->
                <div class="card-body">
                    <form class="User" asp-action="Login">

                        <!-- Email -->
                        <div class="input-group form-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-user"></i></span>
                            </div>
                            <input type="email" class="form-control" placeholder="Email" name="email" autocomplete="off">
                        </div>

                        <!-- Password -->
                        <div class="input-group form-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-key"></i></span>
                            </div>
                            <input type="password" class="form-control" placeholder="Password" name="password" autocomplete="off">
                        </div>

                        <!-- Login using Facebook's email -->
                        <fb:login-button class="fb-login-button" length="long" size="large" scope="public_profile,email" onlogin="checkLoginState();">
                            <span style="margin-right: 10px;">Connect to Facebook</span>
                        </fb:login-button>
                        <div id="status">
                        </div>

                        <!-- Submit button -->
                        <div class="form-group">
                            <input type="submit" value="Login" class="btn float-right clicked-btn">
                        </div>
                    </form>
                </div>

                <!-- Move to login section button -->
                <div class="card-footer">
                    <div class="d-flex justify-content-center links">
                        Don't have an account?<a href="~/Users/Signup">Sign Up</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Login -->

</body>
</html>