<!DOCTYPE html>
<html>
<head>
    <title>Signup Page</title>

    <!--Custom styles-->
    <link rel="stylesheet" type="text/css" href="~/assets/css/Login.css">
</head>
<body>

    <!-- ======= Top Bar ======= -->
    <section id="topbar" class="d-none d-lg-flex align-items-center fixed-top topbar-transparent">
        <div class="container text-right">
        </div>
    </section>
    <!-- End Top Bar -->

    <!-- ======= Header ======= -->
    <header id="header" class="fixed-top d-flex align-items-center header-transparent">
        <div class="container d-flex align-items-center">

            <!-- Logo -->
            <div class="logo mr-auto">
                <h1 class="text-light"><a href="\Home"><span>Burger Station</span></a></h1>
            </div>

            <!-- Back to Home button -->
            <nav class="nav-menu d-none d-lg-block">
                <ul>
                    <li class="book-a-table text-center"><a href="\Home">Back</a></li>
                </ul>
            </nav>
            <!-- .nav-menu -->

        </div>
    </header>
    <!-- End Header -->

    <section></section>
    <section></section>

    <!-- ======= Signup box ======= -->
    <div class="container">
        <div class="d-flex justify-content-center h-100">
            <div class="card">
                <div class="card-header">
                    <h3>Sign up</h3>
                    <div class="card-body">
                        <form class="User" asp-action="Signup">

                            <!-- First name -->
                            <div class="input-group form-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fas fa-user"></i></span>
                                </div>
                                <input type="text" class="form-control" placeholder="First Name" name="firstname" autocomplete="off">
                            </div>

                            <!-- Last name -->
                            <div class="input-group form-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fas fa-user"></i></span>
                                </div>
                                <input type="text" class="form-control" placeholder="Last Name" name="lastname" autocomplete="off">
                            </div>

                            <!-- Password -->
                            <div class="input-group form-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fas fa-key"></i></span>
                                </div>
                                <input type="password" class="form-control" placeholder="Password" name="password" autocomplete="off">
                            </div>

                            <!-- Email -->
                            <div class="input-group form-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fas fa-key"></i></span>
                                </div>
                                <input type="email" class="form-control" placeholder="Email" name="email" autocomplete="off">
                            </div>

                            <!-- Birthday -->
                            <div class="input-group form-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fas fa-key"></i></span>
                                </div>
                                <input type="date" class="form-control" placeholder="Birthday" name="birthday">
                            </div>
                            
                            <!-- Submit button -->
                            <div class="form-group">
                                <input type="submit" value="Sign Up" class="btn float-right clicked-btn">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Signup box-->
</body>
</html>