@model Burger_Station.Models.Comment

@{
    ViewData["Title"] = "Edit";
}


<html>
<head>
    <!--Custom styles-->
    <link rel="stylesheet" type="text/css" href="~/assets/css/Create_Delete.css">
</head>
<body>
    <!-- ======= Top Bar ======= -->
    <section id="topbar" class="d-none d-lg-flex align-items-center fixed-top topbar-transparent">
        <div class="container text-right">
        </div>
    </section>

    <!-- ======= Header ======= -->
    <header id="header" class="fixed-top d-flex align-items-center header-transparent">
        <div class="container d-flex align-items-center">

            <div class="logo mr-auto">
                <h1 class="text-light"><a href="\Home"><span>Burger Station</span></a></h1>
            </div>

            <nav class="nav-menu d-none d-lg-block">
                <ul>
                    <li class="book-a-table text-center"><a href="\Comments\Details\@Model.Id">Back</a></li>
                </ul>
            </nav>
            <!-- .nav-menu -->

        </div>
    </header><!-- End Header -->

    <section></section>
    <section></section>

    <div class="container">
        <div class="d-flex justify-content-center h-100">
            <div class="card">
                <div class="card-body">
                    <div class="card-header">
                        <h3>Edit Comment</h3>
                    </div>
                    <form class="Item" asp-action="Edit">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <input type="hidden" asp-for="Id" />
                        <div class="input-group form-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-user"></i></span>
                            </div>

                            <input asp-for="PostTitle" class="form-control" />
                            <span asp-validation-for="PostTitle" class="text-danger"></span>
                        </div>
                        <div class="input-group form-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-user"></i></span>
                            </div>

                            <input asp-for="PostedBy" class="form-control" />
                            <span asp-validation-for="PostedBy" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-user"></i></span>
                                <select name="ItemId" class="form-control" asp-items="@ViewBag.Items"></select>
                            </div>
                        </div>
                        <div class="btn-c">
                            <input type="submit" value="Save" class="btn float-right clicked-btn" />
                        </div>

                    </form>
                </div>
            </div>


        </div>
    </div>
</body>
</html>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
