@model IEnumerable<Burger_Station.Models.Comment>

@{
    ViewData["Title"] = "";
}

<h1>Index</h1>

<p>
    @if (ViewBag.userType != null)
    {
        <a asp-action="Create">Create New</a>
    }
</p>

int sign=1;
@foreach (var item in Model)
{

<div class="container">
    if (sign==1)
    {
    <img src="~/images/img_avatar2.png" alt="Avatar" style="width:90px">
    sign=0;
    }
    else
    {
    <img src="~/images/flat-faces-icons-circle-man-1.png" alt="Avatar" style="width:90px">
    sign=1;
    }
    <p><span>@Html.DisplayFor(modelItem => item.PostTitle)</span>  @Html.DisplayFor(modelItem => item.PostedBy)</p>
    <p>@Html.DisplayFor(modelItem => item.PostBody)</p>
</div>
}
@section Styles {
    <link rel="stylesheet" href="~/css/comments.css" />
}