
<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <link href="https://fonts.googleapis.com/css?family=Merriweather|Montserrat|Sacramento" rel="stylesheet">

</head>

<body>


    <section id="title">
        <div class="container-fluid">
            <!-- Title -->

            <div class="row">
                <div class="col-lg-6">
                    <h1>Burger Station</h1>
                    <h2>The best restaurant in the world!</h2>
                    <a href="~/images/CS.jpg" button type="button" class="btn btn-dark btn-lg download-button"><i class="fab fa-apple"></i> Download</button></a>
                    <a href="~/images/CS.jpg" button type="button" class="btn btn-outline-light btn-lg download-button"><i class="fab fa-google-play"></i> Download </button></a>
                </div>


                <div class="col-lg-6">
                    <img class="title-image" src="~/images/iphonexs.png" alt="iphone-mockup">
                </div>
            </div>
        </div>
    </section>


    <!-- Features -->

    <section id="features">

        <div class="row">
            <div class="feature-box col-lg-4">
                <i class="icon fas fa-check-circle fa-4x"></i>
                <h3>Top Rated</h3>
                <p>Choosen as one of the best burgers worldwide.</p>
            </div>

            <div class="feature-box col-lg-4">
                <i class="icon fas fa-bullseye fa-4x"></i>
                <h3>Locations</h3>
                <p>More than 20 branches across nation.</p>
            </div>

            <div class="feature-box col-lg-4">
                <i class="icon fas fa-heart fa-4x"></i>
                <h3>Fresh</h3>
                <p>New ingredients every day.</p>
            </div>

        </div>


    </section>


    <!-- Testimonials -->

    <section class="colored-section" id="testimonials">
        <div id="testimonials-carousel" class="carousel slide" data-ride="carousel" data-ride="false">
            <div class="carousel-inner">
                <div class="carousel-item active container-fluid">
                    <h2 class="testimonial-text">It was one of the best burgers I ever ate! I will come again as soon as possible!</h2>
                    <img class="testimonial-image" src="~/images/user2.png" alt="user2-profile">
                    <em>Yuval, Tel Aviv</em>
                </div>
                <div class="carousel-item container-fluid">
                    <h2 class="testimonial-text"> The service is really good. The food is fresh and the meat? WOW!</h2>
                    <img class="testimonial-image" src="images/lady-img.jpg" alt="lady-profile">
                    <em>Noa, Hertzelia</em>
                </div>
                <div class="carousel-item container-fluid">
                    <h2 class="testimonial-text">I think I never ate something so delicious. I want to come back!</h2>
                    <img class="testimonial-image" src="~/images/user1.png" alt="user1-profile">
                    <em>Noa, Beer-Sheva</em>
                </div>
            </div>
            <a class="carousel-control-prev" href="#testimonials-carousel" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#testimonials-carousel" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </section><!-- Press -->

    <section id="press">
        <img class="press-logo" src="images/techcrunch.png" alt="tc-logo">
        <img class="press-logo" src="images/tnw.png" alt="tnw-logo">
        <img class="press-logo" src="images/bizinsider.png" alt="biz-insider-logo">
        <img class="press-logo" src="images/mashable.png" alt="mashable-logo">

    </section>


    <!-- Pricing -->

    <section class="white-section" id="pricing">

        <h2 class="section-heading">A Plan for Every Man's Needs</h2>
        <p>Simple and affordable price plans for your.</p>

        <div class="row">

            <div class="pricing-column col-lg-4 col-md-6">
                <div class="card">
                    <div class="card-header">
                        <h3>Rear</h3>
                    </div>
                    <div class="card-body">
                        <h2 class="price-text">Free</h2>
                        <p>5 Matches Per Day</p>
                        <p>10 Messages Per Day</p>
                        <p>Unlimited App Usage</p>
                        <button class="btn btn-lg btn-block btn-outline-dark" type="button">Sign Up</button>
                    </div>
                </div>
            </div>

            <div class="pricing-column col-lg-4 col-md-6">
                <div class="card">
                    <div class="card-header">
                        <h3>Medium</h3>
                    </div>
                    <div class="card-body">
                        <h2 class="price-text">$49 / mo</h2>
                        <p>Unlimited Matches</p>
                        <p>Unlimited Messages</p>
                        <p>Unlimited App Usage</p>
                        <button class="btn btn-lg btn-block btn-dark" type="button">Sign Up</button>
                    </div>
                </div>
            </div>

            <div class="pricing-column col-lg-4">
                <div class="card">
                    <div class="card-header">
                        <h3>Well Done</h3>
                    </div>
                    <div class="card-body">
                        <h2 class="price-text">$99 / mo</h2>
                        <p>Pirority Listing</p>
                        <p>Unlimited Messages</p>
                        <p>Unlimited App Usage</p>
                        <button class="btn btn-lg btn-block btn-dark" type="button">Sign Up</button>

                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Call to Action -->

    <section class="colored-section" id="cta">

        <div class="container-fluid">

            <h3 class="cta-heading">Check out our new application and get a coupon for your next arrival!</h3>

            <a href="~/images/CS.jpg" button type="button" class="btn btn-dark btn-lg download-button"><i class="fab fa-apple"></i> Download</button></a>
            <a href="~/images/CS.jpg" button type="button" class="btn btn-outline-light btn-lg download-button"><i class="fab fa-google-play"></i> Download </button></a>
        </div>
    </section>

    <!-- Map  -->
    <div class="container-fluid">
        <h3>Find Your Nearest Branch!</h3>
    </div>    
    <!--The div element for the map -->
    <div id="map"></div>
    <script>
        // Initialize and add the map
        function initMap() {
            // The location of Uluru
            var telaviv = { lat: 32.071451, lng: 34.787015 };
            var rishon = { lat: 31.963577, lng: 34.801143 };
            var haifa = { lat: 32.810248, lng: 34.999509 };
            var jerus = { lat: 31.784954, lng: 35.211610 };
            // The map, centered at Uluru
            var map = new google.maps.Map(
                document.getElementById('map'), { zoom: 10, center: telaviv });
            // The marker, positioned at Uluru
            var marker1 = new google.maps.Marker({ position: telaviv, map: map });
            var marker2 = new google.maps.Marker({ position: rishon, map: map });
            var marker3 = new google.maps.Marker({ position: haifa, map: map });
            var marker4 = new google.maps.Marker({ position: jerus, map: map });
        }
    </script>
    <!--Load the API from the specified URL
    * The async attribute allows the browser to render the page while the API loads
    * The key parameter will contain your own API key (which is not needed for this tutorial)
    * The callback parameter executes the initMap() function
    -->
    <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCjMifr6wCKEOSrMRySDervSd8q6kFAnW4&callback=initMap">
    </script>



    <!-- Footer -->

    <footer class="white-section" id="footer">
        <div class="container-fluid">
            <i class="social-icon fab fa-facebook-f"></i>
            <i class="social-icon fab fa-twitter"></i>
            <i class="social-icon fab fa-instagram"></i>
            <i class="social-icon fas fa-envelope"></i>
            <p>© Copyright 2020 Burger Station</p>
        </div>
    </footer>
</body>
</html>



@section Styles {
    <link rel="stylesheet" href="~/css/home.css" />
}