<!DOCTYPE html>

@section Styles {
    <link rel="stylesheet" href="~/css/home.css" />
}
<html lang="en" dir="ltr">
<head>
    <link href="https://fonts.googleapis.com/css?family=Merriweather|Montserrat|Sacramento" rel="stylesheet">

</head>

<body>

    <section id="title">
        <div class="container-fluid">
            <!-- Title -->

            <div class="row">
                <div class="col-lg-6">
                    <h1>Burger Station</h1>
                    <h2 class="titleh2">The best restaurant in the world!</h2>
                    <a href="~/images/CS.jpg" button type="button" class="btn btn-dark btn-lg download-button"><i class="fab fa-apple"></i> Download</a>
                    <a href="~/images/CS.jpg" button type="button" class="btn btn-outline-light btn-lg download-button"><i class="fab fa-google-play"></i> Download</a>
                </div>


                <div class="col-lg-6">
                    <img class="title-image" src="~/images/iphonexs.png" alt="iphone-mockup">
                </div>
            </div>
        </div>
    </section>

    <!-- Features -->

    <section id="features">

        <div class="row">
            <div class="feature-box col-lg-4">
                <i class="icon fas fa-check-circle fa-4x"></i>
                <h3>TOP RATED</h3>
                <p>Choosen as one of the best burgers worldwide.</p>
            </div>

            <div class="feature-box col-lg-4">
                <i class="icon fas fa-bullseye fa-4x"></i>
                <h3>LOCATION</h3>
                <p>More than 10 branches across nation.</p>
            </div>

            <div class="feature-box col-lg-4">
                <i class="icon fas fa-heart fa-4x"></i>
                <h3>FRESH</h3>
                <p>New ingredients every day.</p>
            </div>

        </div>


    </section>


    <!-- Testimonials -->

    <section class="colored-section" id="testimonials">
        <div id="testimonials-carousel" class="carousel slide" data-ride="carousel true">
            <div class="carousel-inner">
                <div class="carousel-item active container-fluid">
                    <h2 class="testimonial-text">It was one of the best burgers I ever ate! I will come again as soon as possible!</h2>
                    <img class="testimonial-image" src="~/images/user2.png" alt="user2-profile">
                    <em>Yuval, Tel Aviv</em>
                </div>
                <div class="carousel-item container-fluid">
                    <h2 class="testimonial-text"> The service is really good. The food is fresh and the meat? WOW!</h2>
                    <img class="testimonial-image" src="~/images/lady-img.jpg" alt="lady-profile">
                    <em>Noa, Hertzelia</em>
                </div>
                <div class="carousel-item container-fluid">
                    <h2 class="testimonial-text">I think I never ate something so delicious. I want to come back!</h2>
                    <img class="testimonial-image" src="~/images/user1.png" alt="user1-profile">
                    <em>Noa, Beer-Sheva</em>
                </div>
            </div>
            <a class="carousel-control-prev" href="#testimonials-carousel" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#testimonials-carousel" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </section><!-- Press -->

    <section id="press">
        <img class="press-logo" src="~/images/techcrunch.png" alt="tc-logo">
        <img class="press-logo" src="~/images/tnw.png" alt="tnw-logo">
        <img class="press-logo" src="~/images/bizinsider.png" alt="biz-insider-logo">
        <img class="press-logo" src="~/images/mashable.png" alt="mashable-logo">

    </section>


    <!-- Pricing -->

    <section class="white-section" id="pricing">

        <h2 class="section-heading">An Order Deal For Every Man's Hunger</h2>
        <p>Simple and affordable price plans for your.</p>

        <div class="row">

            <div class="pricing-column col-lg-4 col-md-6">
                <div class="card">
                    <div class="card-header">
                        <h3>Mini Station</h3>
                    </div>
                    <div class="card-body">
                        <h2 class="price-text">Free</h2>
                        <p>1 Free Refill</p>
                        <p>Unlimited Wi-Fi Usage</p>
                        <p>By Ordering Burger + Soft Drink</p>
                        <button class="btn btn-lg btn-block btn-outline-dark" type="button">ORDER NOW</button>
                    </div>
                </div>
            </div>

            <div class="pricing-column col-lg-4 col-md-6">
                <div class="card">
                    <div class="card-header">
                        <h3>Medium Station</h3>
                    </div>
                    <div class="card-body">
                        <h2 class="price-text">$27</h2>
                        <p>2 Free Refills</p>
                        <p>Unlimited Wi-Fi Usage</p>
                        <p>By Ordering Burger + Soft Drink</p>
                        <button class="btn btn-lg btn-block btn-dark" type="button">ORDER NOW</button>
                    </div>
                </div>
            </div>

            <div class="pricing-column col-lg-4">
                <div class="card">
                    <div class="card-header">
                        <h3>Mega Station</h3>
                    </div>
                    <div class="card-body">
                        <h2 class="price-text">$30</h2>
                        <p>Unlimited Refills</p>
                        <p>Unlimited Wi-Fi Usage</p>
                        <p>By Ordering Burger + Soft Drink</p>
                        <button class="btn btn-lg btn-block btn-dark" type="button">ORDER NOW</button>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Call to Action -->

    <section class="colored-section" id="cta">

        <div class="container-fluid">

            <h3 class="cta-heading">Check out our new application and get a coupon for your next arrival!</h3>

            <a href="~/images/CS.jpg" button type="button" class="btn btn-dark btn-lg download-button"><i class="fab fa-apple"></i> Download</a>
            <a href="~/images/CS.jpg" button type="button" class="btn btn-outline-light btn-lg download-button"><i class="fab fa-google-play"></i> Download</a>
        </div>
    </section>

    <!-- Map  -->
    <section class="white-section" id="pricing">

        <h2 class="section-heading">Find Your Nearest Branch!</h2>
        <p>Burger Stations are all over the place! </p>

        <!--The div element for the map -->
        <div id="map"></div>
        <script>
            // Initialize and add the map
            function initMap() {
                // Our selected Locations
                var telaviv = { lat: 32.071451, lng: 34.787015 };
                var rishon = { lat: 31.963577, lng: 34.801143 };
                var haifa = { lat: 32.810248, lng: 34.999509 };
                var jerus = { lat: 31.784954, lng: 35.211610 };
                // The map, centered at Tel Aviv (zoom: 1 - far , 20 - near).
                var map = new google.maps.Map(
                    document.getElementById('map'), { zoom: 10, center: telaviv });
                // The Markers on the map
                var marker1 = new google.maps.Marker({ position: telaviv, map: map });
                var marker2 = new google.maps.Marker({ position: rishon, map: map });
                var marker3 = new google.maps.Marker({ position: haifa, map: map });
                var marker4 = new google.maps.Marker({ position: jerus, map: map });
            }
        </script>
        <!--Load the API from the specified URL
        * The async attribute allows the browser to render the page while the API loads
        * The key parameter will contain your own API key
        * The callback parameter executes the initMap() function
        -->
        <script async defer
                src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCjMifr6wCKEOSrMRySDervSd8q6kFAnW4&callback=initMap">
        </script>
    </section>

    <!-- Facebook SDK -->
    <script type="text/javascript" src="~/Content/JSFiles/site.js"></script>
    <script>
        window.fbAsyncInit = function () {
            FB.init({
                appId: '2560600564202212',
                cookie: true,
                xfbml: true,
                version: 'v8.0'
            });

            FB.AppEvents.logPageView();
        };

        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) { return; }
            js = d.createElement(s); js.id = id;
            js.src = "https://connect.facebook.net/en_US/sdk.js";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    </script>

    <!-- Facebook post -->
    <label> Post on our Facebook Page: </label>
    <br /><br />
    <textarea style="width:600px; height:100px;" name="text" placeholder="Type your status here!" id="postTxt"></textarea>
    <br />
    <button style="width:600px;" onclick="postAStatus()"> Publish </button>

    <br />
    <br />
    <br />

    <center>
        <h3> Check the weather in your City ;) </h3>
        <input type="text" id="city" placeholder="City name" />
        <input type="button" id="getWeather" value="Get Weather Data" />
        <br />
        <div id="result-div"></div>
    </center>

    <br />
    <br />

    <script type="text/javascript">
        if (typeof jQuery !== 'undefined') {
            $(document).ready(function () {
                $('#getWeather').click(function () {
                    var requestData = $('#city').val();
                    var result = $('#result-div');
                    $.ajax({
                        url: 'https://api.openweathermap.org/data/2.5/weather',
                        method: 'get',
                        data: { q: requestData, appid: 'b8dfe71c14a54f4a98e710d2674bdc85' },
                        dataType: 'json',
                        success: function (data) {
                            result.html('The weather is ' + data.weather[0].main + '<br/>' + 'Description: ' + data.weather[0].description);
                        }
                    });
                });
            });
        }
        else {
            console.log('problem with loading jquery');
        }
    </script>

    <!-- Footer -->

    <div class="container">
        <a id="icon" class="burger">
            <span class="hamburger bun top"></span>
            <span class="hamburger chez"></span>
            <span class="hamburger meet"></span>
            <span class="hamburger lettus"></span>
            <span class="hamburger bun bottom"></span>
        </a>
    </div>

    <div class="footersection">
        <footer class="white-section" id="footer">
            <div class="container-fluid">
                <i class="social-icon fab fa-facebook-f"></i>
                <i class="social-icon fab fa-twitter"></i>
                <i class="social-icon fab fa-instagram"></i>
                <i class="social-icon fas fa-envelope"></i>
                <p>© Copyright 2020 Burger Station</p>
            </div>
        </footer>
    </div>


    @section scripts{
        <script type="text/javascript" src="~/js/home.js"></script>
    }



</body>
</html>



