
<!DOCTYPE html>
<html lang="en" dir="ltr">

<body>


    <section id="title">
        <div class="container-fluid">
            <!-- Title -->
            <div class="row">
                <div class="col-lg-6">
                    <h1>Come to the best restaurant in the world!.</h1>
                    <button type="button" class="btn btn-dark btn-lg download-button"><i class="fab fa-apple"></i> Download</button>
                    <button type="button" class="btn btn-outline-light btn-lg download-button"><i class="fab fa-google-play"></i> Download</button>
                </div>
                <div class="col-lg-6">
                    <img class="title-image" src="Images/iphone.png" alt="iphone-mockup">
                </div>
            </div>
        </div>
    </section>
</body>
</html>



@section Styles {
    <link rel="stylesheet" href="~/css/home.css" />
}